//modal for websms draft
.modal.fade#draft(tabindex="-1", role="dialog", aria-labelledby="draftTemplate", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#usetemplate= t('modals.usetemplate')
			.modal-body
				Sample sample
			.modal-footer
				.btns-div
					