.navbar.navbar-default.navbar-static-top.m800-header
	.container
		.navbar-header
			a(class='navbar-brand', href='#'): img(src='/img/Logo.png')
		a(href="/login/logout", id="logout-link")=t('menuLinks.logout')