.datePickerDiv.pull-left.margin-right-30
	btn.group.btn-group
		i(class="glyphicon glyphicon-calendar")
		input(type="text", name="dateInput", id="dateInput", class="btn")
		i(class="glyphicon glyphicon-time")
		input(type="text", name="timeInput", id="timeInput", class="btn", onclick="formatTimeDropdown();")