//- pagination layout
- var n = 1
	ul.pagination.pull-left
		li
			a(href='#')
				&#9664;
		while n <= 5
			li
				if n==3
					a(href='#', class="current-pg")= n++
				else
					a(href='#')= n++					
		li
			a(href='#')
				&#9654;
		
	.go-to-div.pull-left
		.row
			.col-xs-6
				span
					=t('paginationTexts.goToPage')
			.col-xs-6.inputGoto
				.input-group
					input(type="text", class="form-control", name="goToPageInput")
					span.input-group-btn
						button(class="btn btn-default", type="button", id="goButton")= t('paginationTexts.go')
	.pagination-text.pull-right
		p= '11-20 of 60 items'