//modal for clearing the recipients prompt
.modal.fade#clear-recipients(tabindex="-1", role="dialog", aria-labelledby="clearRecipients", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title#clear-recipients= t('modals.clearrecipients')
			.modal-body
				.body-content-wrapper
					span.placeholderText= t("modals.clearprompt")
			.modal-footer
				.btns-div
					each val in [['modals.cancel','#', 'btn-pale-blue'],['modals.continue', '#', 'btn-pale-red']]
						a(href=val[1], class="btn btn-default " + val[2], id=t(val[0]))= t(val[0])