#dateRange.datePickerDiv.pull-right.margin-right-15
	btn.group
		span=t("overviewVolume.from")
			i(class="glyphicon glyphicon-calendar")
		input(type="text", name="daterangefrom", id="dateRangePickerfrom", class="btn")
		span=t("overviewVolume.to")
			i(class="glyphicon glyphicon-calendar")
		input(type="text", name="daterangeto", id="dateRangePickerto", class="btn")
	script(src="/js/custom-m800-js/m800-calendar.js")