.input-group.searchbar
	input(type="text", class="form-control", placeholder="Search recipient No.")
	span.input-group-btn
		button(class="btn btn-default", type="button")
			span.glyphicon.glyphicon-search
		