// start of all SMS outbox detail content
.recordsTable#outbox-content-detail
	.row.recordsTableHeader
		.col-xs-1.detail-header
			= t('recordTexts.schedule')
		.col-xs-1.senderCol.detail-header
			= t('recordTexts.sender')
		.col-xs-1.detail-header
			= t('recordTexts.recipient')
		.col-xs-2.noSMScol.detail-header
			= t('recordTexts.noSMS')
		.col-xs-3.detail-header
			= t('recordTexts.content')
		.col-xs-2.createTimecol.detail-header
			= t('recordTexts.createTime')
		.col-xs-1.statusCol.detail-header
			= t('recordTexts.status')