.recordsTable
	.row.recordsTableHeader
		.col-xs-1.detail-header
			= t('recordTexts.schedule')
		.col-xs-2.detail-header.destination
			= t('allSMS.destination')
		.col-xs-1.detail-header
			= t('recordTexts.sender')
		.col-xs-1.detail-header.recipient
			= t('recordTexts.recipient')
		.col-xs-2.detail-header.noSMS
			= t('recordTexts.noSMS')
		.col-xs-3.detail-header
			= t('recordTexts.content')
		.col-xs-2.createtime.detail-header
			= t('recordTexts.createTime')