extends layout

block content
	.container
		.row
			.col-xs-12.col-md-7
				h1 #{title}
				p Welcome to #{title}
			.col-xs-12.col-md-5
				h1 Links
				ul.list-unstyled
					li
						a(href='/widget') /widget
						br
						span Build site elements here
						br
						br
					li
						a(href='/tasks') /tasks
						br
						span Fetch & display db data
						br
						br
					li
						a(href='/login') /login
						br
						span Post-pay Login Page
						br
						br
					li
						a(href='/new') /new
						br
						span New SMS Page
						br
						br
					li
						a(href='/overview') /overview
						br
						span Post-pay Overview Page
						br
						br
					li
						a(href='/all') /all
						br
						span Post-pay All SMS Page
						br
						br
					li
						a(href='/draft') /draft
						br
						span Post-pay Draft Page
						br
						br
					li
						a(href='/template') /template
						br
						span Post-pay Template Page
						br
						br
					li
						a(href='/contact') /contact
						br
						span Post-pay Contacts Page
						br
						br
					li
						a(href='/profile') /profile
						br
						span Post-pay Profile Page
						br
						br
					li
						a(href='/help') /help
						br
						span Post-pay Help Page
						br
						br
