extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-md-9
				.overview-content.newSMS#confirmPage
					include ele/ele-newSMS-upper-right.jade
					.graph-div.pull-left
						include ele/ele-newSMS-confirm-content.jade
					//- span back to index page
				.white-top-left-border
				.white-top-right-border
				.white-bottom-left-border
				.white-bottom-right-border
		script(src="/js/custom-m800-js/finish-page.js")
	include ele/ele-footer.jade
	
