extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-md-9
				.overview-content
					h1= title
					br
					a(href='/draft/edit') /draft/edit
					br
					span goto Draft Edit page
					a(href='', data-targer="#draft", data-toggle="modal") 
				button(type="button", class="btn btn-default", data-toggle="modal", data-target="#delete-template") Dlt Tmplt
				button(type="button", class="btn btn-default", data-toggle="modal", data-target="#manage-contacts") Mng Cntct
				button(type="button", class="btn btn-primary", data-toggle="modal", data-target="#edit-template") Edit Tmp
	include ele/ele-modal-delete-template.jade
	include ele/ele-modal-manage-contacts.jade
	include ele/ele-modal-template-edit-template.jade
	include ele/ele-modal-websms-draft.jade
	include ele/ele-footer.jade