extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-md-9
				.overview-content
					h1= title
	include ele/ele-footer.jade