extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.row.reset-margin.sprites-holder#draft-page
					include ele/ele-upper-right-title-only.jade
					include ele/ele-draft-content.jade
					.pagination-div
						include ele/ele-pagination-LO.jade
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
	include ele/ele-modal-websms-draft.jade
		script(src="/js/custom-m800-js/draft-page.js")
	include ele/ele-footer.jade