extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container#record-detail
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content
					//- include the element which consists of the daily-monthly btn, dropdowns, calendars
					include ele/ele-record-detail-upper-right.jade
					.back-search-div.pull-left
						a(role="button", id="backBtn", class="btn btn-default", href="/overview/record/")
							img(src="/img/back-arrow.png", alt="Back Arrow", title="Back Arrow")
							=t("recordTexts.back")
						include ele/ele-searchbar.jade
					//- include the element which consists of the main content of the overview-record detail page
					include ele/ele-overview-record-detail-content.jade
				.white-top-left-border
				.white-top-right-border
				.white-bottom-left-border
				.white-bottom-right-border
	include ele/ele-footer.jade