doctype html
html
	head
		title= title
		//- meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='icon', type='image/png', href='/img/speeddial-160.png')
		link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114x114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72x72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/img/apple-touch-icon-57x57-precomposed.png')
		
		<!-- css -->
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/screen.css')
		link(rel='stylesheet', href='/css/bootstrap-select/bootstrap-select.css')
		link(rel='stylesheet', href='/css/bootstrap-daterangepicker/daterangepicker-bs3.css')
		link(rel='stylesheet', href='/css/jvectormap/jquery-jvectormap.css')
		link(rel='stylesheet', href='/css/select2/select2.css')
		link(rel='stylesheet', href='/css/bootstrap-timepicker/bootstrap-timepicker.min.css')
		link(rel='stylesheet', href='/css/tablesorter/theme.bootstrap.css')
		<!-- @todo add more css below -->
		<!--[if lte IE8]>
		link(rel='stylesheet', href='/css/ie.css')
		<![endif]-->
		
		<!-- core js -->
		script(src='/js/jquery-1.11.1.min.js')
		script(src='/js/bootstrap.js')
		<!--[if lte IE8]>
		script(src='/js/html5shiv-3.7.2.min.js')
		script(src='/js/respond-1.4.2.min.js')
		script(src='/js/flot/excanvas.min.js')
		<![endif]-->
	body
		block content
		
		<!-- js libs -->
		script(src='/js/bootstrap-daterangepicker/moment.min.js')
		script(src='/js/bootstrap-daterangepicker/daterangepicker.js')
		script(src='/js/bootstrap-validator/bootstrapValidator.min.js')
		script(src='/js/tablesorter/jquery.tablesorter.min.js')
		script(src='/js/tablesorter/jquery.tablesorter.widgets.min.js')
		script(src='/js/bootstrap-select/bootstrap-select.js')
		script(src='/js/flot/jquery.flot.min.js')
		script(src='/js/flot/jquery.flot.time.min.js')
		script(src='/js/flot/jquery.flot.symbol.min.js')
		script(src='/js/jvectormap/jquery-jvectormap.js')
		script(src='/js/jvectormap/jquery-jvectormap-world-en.js')
		script(src='/js/select2/select2.js')
		script(src='/js/bootstrap-timepicker/bootstrap-timepicker.min.js')
		script(src="/js/custom-m800-js/common.js")

		<!-- @todo add more js below -->