extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.newSMS.sprites-holder#simpleSMS
					include ele/ele-newSMS-upper-right.jade
					.graph-div.pull-left
						include ele/ele-newSMS-simple-content.jade
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
		script(src="/js/custom-m800-js/new-sms-simple-page.js")
	include ele/ele-modal-add-from-contacts.jade
	include ele/ele-modal-import-excel.jade
	include ele/ele-modal-save-as-template.jade
	include ele/ele-modal-use-template.jade
	include ele/ele-modal-clear-recipients.jade
	include ele/ele-footer.jade