extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content
					.page-title-div
						.page-title-left.pull-left.margin-left-30.margin-right-30
							h1= title
					include ele/ele-help-content.jade
				.white-top-left-border
				.white-top-right-border
				.white-bottom-left-border
				.white-bottom-right-border				
	include ele/ele-footer.jade