extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.allSMS-page.sprites-holder#outbox-page
					include ele/ele-upper-right-title-only.jade
					.graph-div.pull-left
						include ele/ele-allSMS-outbox-content.jade
					.pagination-div
						include ele/ele-pagination-LO.jade
					include ele/ele-learn-more.jade
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
		script(src="/js/custom-m800-js/allSMS-pages.js")
	include ele/ele-footer.jade