extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				#profile-passowrd-page.overview-content.sprites-holder
					.page-title-div
						.page-title-left.pull-left.margin-left-30.margin-right-30
							h1= t('profilePage.password')
					include ele/ele-content-profile-password.jade
				!= '<!--[if lt IE 9]>'
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
				!= '<![endif]-->'
		script(src="/js/custom-m800-js/profile-page.js")
	include ele/ele-footer.jade