extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container#distribution
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.sprites-holder#distribution-content
					//- to include the element which includes daily-monthly btn, dropdowns, calendars
					include ele/ele-upper-right-overview.jade
					//- to include the element which consists of the main content (specifically the world map)
					include ele/ele-overview-distribution-map.jade
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
	include ele/ele-footer.jade