extends layout

block content
	include ele/ele-header.jade
	.container.overview-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.sprites-holder
					h1= title
					br
					a(href='/new/confirm') /draft/confirm
					br
					span Draft Confirm page
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
	include ele/ele-footer.jade