extends layout

block content
	include ele/ele-header.jade
	.container.mainContent-container
		.row
			include ele/ele-left-menu-links.jade
			.right-content.col-xs-9
				.overview-content.sprites-holder
					//- include the element which consists of the daily-monthly btn and download btn, dropdowns, calendars
					include ele/ele-upper-right-overview.jade
					//- include the element which consists of the main content specifically the table
					include ele/ele-overview-record-content.jade
				// if lt IE 9
					.sprites.rounded-corner.top-right-white
					.sprites.rounded-corner.top-left-white
					.sprites.rounded-corner.bottom-left-white
					.sprites.rounded-corner.bottom-right-white
	include ele/ele-footer.jade