body {
	color: #333;
	background: #e1e1e1;
	height: 100%;
}
html{
	height: 100%;
}
.margin-left-5 {
	margin-left:5px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-left-30 {
	margin-left:30px;
}
.margin-right-30 {
	margin-right: 30px;
}
.margin-top-30 {
	margin-top:30px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-left-15 {
	margin-left:15px;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-top-15 {
	margin-top:15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-left-30 {
	padding-left:30px;
}
.padding-right-30 {
	padding-right: 30px;
}
.padding-right-25 {
	padding-right: 25px;
}
.padding-left-15 {
	padding-left:15px;
}
.padding-right-15 {
	padding-right:15px;
}
.padding-bottom-5 {
	padding-bottom: 5px;
}
.padding-right-remove {
	padding-right: 0;
}
.padding-left-remove {
	padding-left: 0;
}
padding-top:remove {
	padding-top: 0;
}
padding-bottom-remove {
	padding-bottom: 0;
}
.reset-margin {
	margin: 0;
}
.reset-margin-left {
	margin-left: 0;
}
.reset-margin-right {
	margin-right: 0;
}
.reset-padding {
	padding: 0;
}
//for the rounded borders
.grey-top-left-border,
.grey-top-right-border,
.grey-bottom-left-border,
.grey-bottom-right-border {
	width: 20px;
	height: 20px;
	z-index: 2;
	background: url(/img/rounded-borders-grey.png) no-repeat;
	position: absolute;
}
.white-top-left-border,
.white-top-right-border,
.white-bottom-left-border,
.white-bottom-right-border {
	width: 20px;
	height: 20px;
	z-index: 2;
	background: url(/img/rounded-borders-white.png) no-repeat;
	position: absolute;
}
.white-top-left-border {
	top: -2px;
	left: -2px;
	background-position: 0 0;
}
.white-top-right-border {
	top: -2px;
	right: -4px;
	background-position: -50px 0;
}
.white-bottom-left-border {
	bottom: -5px;
	left: -2px;
	background-position: 0px -51px;
}
.white-bottom-right-border {
	bottom: -3px;
	right: -4px;
	background-position: -50px -50px;
}
.inner-white-top-left,
.inner-white-top-right,
.inner-white-bot-left,
.inner-white-bot-right, {
	width: 20px;
	height: 20px;
	z-index: 2;
	background: url(/img/rounded-borders-inner-white.png) no-repeat;
	position: absolute;
}
.inner-white-top-left {
	top: -2px;
	left: -2px;
	background-position: 0 0;
}
.inner-white-top-right {
	top: -2px;
	right: -4px;
	background-position: -50px 0;
}
.inner-white-bot-left {
	bottom: -5px;
	left: -2px;
	background-position: 0px -51px;
}
.inner-white-bot-right {
	bottom: -3px;
	right: -4px;
	background-position: -50px -50px;
}
.m800-header {
	background: $pale-red;
	margin-bottom: 75px;
	.navbar-brand {
		padding: 0;
		img {
			margin-left: 15px;
			margin-top: 6px;
		}
	}
	.container {
		a#logout-link {
			float: right;
			color: #fff;
			text-decoration: none;
			margin: 15px 0;
			font-size: 140%;
		}	
	}
}
.active-link {
	background: #333;
}

//main content
.right-content {
	margin-bottom: 50px;
	background: #fff;
	border: 1px solid $div-borders;
	padding-left: 0;
	padding-right: 0;
	float: left;
	border-radius: 5px;
	.detail-row {
		@extend .row-item;
		padding: 10px 15px !important;
		.detail-header {
			font-size: 140%;
			line-height: 38px;
		}
		.glyphicon {
			font-size: 240%;
		}
		.glyphicon-ok-sign {
			color: $green;
		}
		.glyphicon-remove-sign {
			color: #ffa229;
		}
	}
}
.recordsTable {
	width: 100%;
	float: left;
	.row {
		margin: 0;
		&.recordsTableHeader {
			float: left;
			width: 100%;
			font-size: 140%;
			line-height: 40px;
		}
		&.detail-row {
			float: left;
			width: 100%;
			.detail-item {
				font-size: 140%;
				&.glyphicon-ok-sign,
				&.glyphicon-remove-sign {
					font-size: 240%;
				}
				&.glyphicon-save {
					font-size: 140%;
				}
			}
			a {
				color: #333;
			}
		}
		.task-name,
		.filepart {
			width: 190px;
			padding-right: 5px;
		}
		.smstype {
			width: 90px;
			padding: 0 5px;
		}
	}
}
//remove the blue outline in clickable buttons and anchors
a:focus,
btn:focus,
img:focus {
	outline: 0;
}
.dropdowns-div {
	padding-bottom: 30px;
	border-bottom: 1px solid $div-borders;
	.btn-group {
		margin-left: 30px;
		.btn {
			width: 160px;
			margin-left: 15px;
			span {
				color: $pale-red;
				margin-right: -5px;
				&.glyphicon-chevron-down {
					padding-top: 5px;
				}
			}
		}
	}
	.btn-group,
	.datePickerDiv 	{
		margin-top: 30px;
	}
	.datePickerDiv {
		height: 30px;
		width: 385px;
		input {
			width: 50%;
			border: 1px solid #e5e5e5;
			color: $pale-red;
			padding-left: 80px;
		}
		span {
			position: absolute;
			padding: 8px;
			font-weight: bold;
			font-size: 160%;
			.glyphicon-calendar {
				margin-left: 10px;
			}
		}
	}
	.open {
		.btn {
			background: $pale-red;
			span {
				color: #fff;
			}
			
		}
	}
	.lastXdaysPicker {
		width: 160px !important;
	}
	.contactPicker,
	.lastXdaysPicker {
		font-size: 140%;
	}
}
div.dropdown-menu {
	width: 160px;
	min-width: 160px;
	margin-left: 15px;
	min-width: 0;
	li {
		height: 35px;
		border-top: 1px solid #bbb;
		a {
			line-height: 28px;
			&:focus{
				outline:0;
			}
			span.check-mark {
				color: $green;
			}
		}
	}
	li:first-child {
		border-top: none;
	}
	&.open {
		min-width: 160px;
	}
}
//learn more div
.learn-more-div {
	float: left;
	width: 100%;
	padding: 30px;
	border-top: 1px solid #ddd;
	span,
	a {
		color: $pale-red;
		font-size: 140%;
		text-decoration: none;
		&.glyphicon-play {
			margin-left: 15px;
			padding: 5px;
			padding-left: 6px;
			color: #fff;
			background: #e13b4c;
			border-radius: 10px;
			font-size: 100%;
		}
	}
}
.pagination-div {
	width: 100%;
	border-top: 1px solid #eee;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	.pagination {
		margin: 13px 0;
	}
	li {
		a {
			color: #999;
			font-family: $helv-normal;
			&.current-pg {
				color: $pale-red;
			}
		}
	}
	.go-to-div {
		margin: 12px 35px;
		width: 150px;
		span {
			font-size: 120%;
			width: 60px;
			color: #999;
		}
		input {
			height: 30px;
			width: 50px;
		}
		.btn {
			height: 30px;
			background: $pale-red;
			color: #fff;
			line-height: 0;
			border: 0;
		}
		.col-xs-6 {
			height: 30px;
			padding-right: 0;
			line-height: 28px;
		}
		.col-xs-6.inputGoto {
			padding-left: 0;
		}
	}
	.pagination-text {
		//margin: 12px 0px;
		margin-top: 12px;
		p {
			font-size: 120%;
			line-height: 28px;
			color: #999;
		}
		
	}
}
//for section headings
.textLeft {
	h4 {
		float:left;
	}
}
//for the red upload button
a#uploadFile {
	background: $pale-red;
	color: #fff;
	border: none;
	//margin-bottom: 15px;
	position: absolute;
	top: 0px;
	left: 30px;
	//top: 0;
	//left: 15px;
	.glyphicon-open {
		float: left;
	}
}
.uploadFileContainer {
	float: left;
	width: 100%;
	label {
		float: left;
	}
	#uploadFile {
		position: relative;
		left: 15px;
	}
	#uploadexcelFile {
		padding-left: 85px;
		border: 0;
		box-shadow: none;
		opacity: 0;
		width: 180px;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	#reupload-div {
		width: 100%;
		margin: 0 0 15px 15px;
		#reuploadBtn {
			background: $pale-blue;
			color: #fff;
		}
		#disabledInput {
			max-width: 325px;
			margin-left: 15px;
			background: #fff;
		}
		.glyphicon-remove-sign{
			position: relative;
			top: 25px;
			font-size: 160%;
			margin-left: -20px;
			margin-top: -15px;
			color: $pale-blue;
			cursor: pointer;
			float: left;
		}
	}
	.glyphicon-exclamation-sign {
		display: none;
		margin-top: -28px;
		margin-left: 192px;
		font-size: 180%;
		width: 25px;
		color: #986066;;
	}
	#rowsCount {
		float: left;
		width: 100%;
		padding-left: 15px;
		font-size: 140%;
		margin-top: -10px;
		float: left;
	}
	#downloadTempLink {
		float: right;
		font-size: 140%;
		line-height: 15px;
		text-decoration: none;
		color: $pale-blue;
		position: relative;
		right: 15px;
		top: -25px;
	}
}

//for the buttons
.buttons-div {
	padding: 30px 0 30px 20px;
	border-top: 1px solid $div-borders;
	float: left;
	width: 100%;
	.btn {
		width: 130px;
		margin: 0 5px;
		background: $pale-blue;
		color: #fff;
		border: 0;
		&#Next{
			background: $pale-red;
		}
	}
}
//search button
.searchbar {
	float: left;
	width: 330px;
	margin-left: 22px;
	
	span.input-group-btn {
		button {
			background: $pale-red;
			color: #fff;
			border: 0;
		}
		
	}
}
.footer-div {
	width: 100%;
	height: 260px;
	margin: 0;
	margin-top: 80px;
	background:#f5f5f5;
	.left-footer-div {
		padding-left: 0;
		padding-right: 0;
		border-right: 1px solid $div-borders;
		.sitemap-div {
			margin: 38px 0 10px 0;
			ul {
				li {
					line-height: 27px;
					a {
						font-size: 140%;
						text-decoration: none;
						color: $pale-blue;
					}
					&.listLabel{
						font-size: 180%;
						color: #000;
					}	
				}
			}
		}
		.copyright-div {
			height: 30px;
			border-top: 1px solid $div-borders;
			padding: 10px 0;
			float: left;
			width: 100%;
			color: $pale-blue;
			span {
				margin-left: 15px;
				font-size: 120%;
			}
		}
	}
	.social-media-div {
		margin-top: 38px;
		ul {
			padding-left: 30px;
			li {
				display: inline;
				margin-right: 20px;
				img {
					width: 45px;
					height: 45px
				}
			}
		}
		.chat-now-div {
			width: 241px;
			position: absolute;
			margin-left: 30px;
			bottom: -165px;
			background: $pale-blue;
			color: #fff;
			
			p {
				float: left;
				margin: 5px 10px;
				font-size: 140%;
			}
			img {
				float: right;
				margin: 3px 5px;
			}
		}
	}
}
.select2-drop {
	font-size: 140%;
	min-height: 25px;
}
#select2form {
	.form-control-feedback {
		z-index: 100;
	}
}
.popover {
	&.CSCSV{
		box-shadow: none;
		background: #ecfaff;
		width: 245px;
		border: 1px solid #aecedd;
		margin-left: 15px;
		.arrow:after {
			border-right-color: #ecfaff;
		}
		.popover-content{
			color: $strong-blue;
		}
	}
	&.redPopover {
		background: $error-red-bg;
		border: 1px solid #f5b3ba;
		width: 230px;
		.arrow:after {
			border-left-color: $error-red-bg;
			border-right-color: $error-red-bg;
		}
		.popover-content {
			color: #986066;
		}
	}
}
.select2-container-multi {
	height: auto;
	ul.select2-choices {
		//top: -6px;
		border: none !important;
		box-shadow: none !important;
		background: #fff;
		.select2-search-choice {
			padding: 5px 22px 5px 5px;
			background: #eee;
			border: 1px solid #ddd;
			div {
				float: left;
			}
			a {
				float: right;
				left: initial;
				top: 4px;
				right: 4px;
				position: absolute;
				text-decoration: none;
				color: $pale-blue;
			}
		}
	}
}
.help-block {
	//display: block !important;
	display: none;
	.glyphicon-exclamation-sign {
		font-size: 240%;
		right: 33px;
		position: absolute;
		top: 24%;
		color: #986066;
	}
}

//schedule div
.schedule-div {
	width: 100%;
	float: left;
	h4 {
		width: 100%;
		float: left;
	}
	div.schedulePicker {
		width: 250px;
		margin: 0;
		float: left;
		font-size: 120%;
		.btn {
			width: 100%;
			height: 35px;
			margin-left: 0;
			span {
				font-size: 100%;
				margin: 0;
				width: auto;
				&.glyphicon-chevron-down{
					float: right;
					margin-top: -20px;
				}
			}
		}
		.open {
			margin-left: 0;
			width: 100%;
			li {
				a {
					padding: 0 20px;
				}
			}
		}
	}
	span {
		//margin: 10px 0;
		float: left;
		font-size: 100%;
		&.optionalGrey {
			color: #999;
			padding: 0 10px;
		}
		&.glyphicon-question-sign{
			color: $pale-blue;
		}
		&.schedText {
			font-size: 120%;
			width: 100%;
			margin-top: 10px;
		}
	}
}

//for date-time combination in newSMS pages
.newSMS {
	.datePickerDiv {
		margin-top: 0;
		margin-left: 15px;
	}
	btn.group {
		width: 100%;
		float: left;
		margin:0;
		
		#dateInput,
		#timeInput {
			margin-left: 0;
		}
		input#dateInput {
			margin-left: 0;
			padding-left: 25px;
			width: 45%;
		}
		input#timeInput {
			margin-left: 0;
			padding-left: 30px;
			width: 30%;
		}
	}
	
	.glyphicon-calendar,
	.glyphicon-time{
		position: absolute;
		font-size: 180%;
		top: 8px;
	}
	.glyphicon-time {
		left: 180px;
		z-index: 5;
	}
	.glyphicon-calendar {
		left: 18px;
		z-index: 5;
	}
	.schedText {
		display: none;
	}
	.textLeft,
	.smsContent{
		button {
			width: 135px;
			background: $pale-blue;
			color: #fff;
			span.glyphicon-plus {
				font-size: 100%;
				margin: 0;
				float: left;
				margin-left: 15px;
			}
		}
	}
	//style the content - preview
	.smsContent {
		width: 100%;
		h4 {
			width: 100%;
		}
		.col-xs-8{
			max-width: 550px;
			.btn {
				height: 33px;
				width: 150px;
				padding: 5px;
				border: 0;
				span.glyphicon-list-alt,
				.glyphicon-floppy-disk{
					font-size: 120%;
					margin-right: 15px;
				}
				&#saveAsTemplate {
					width: 170px;
					margin-left: 20px;
				}
				&#insertVariable {
					margin-left: 20px;
					width: 160px;
				}
			}
			.glyphicon-question-sign{
				position: absolute;
				float: right;
				top: 50px;
				font-size: 180%;
				right: -15px;
				color: $pale-blue;
			}
			.dropdown-menu {
				position: absolute;
				left: 375px;
				top: 72px;
				width: 140px;
				padding: 0;
				li {
					padding: 6px 0;
					border-bottom: 1px solid #e5e5e5;
					&:last-child {
						border-bottom: none;
					}
				}
			}
			&.open {
				#insertVariable {
					background: $pale-blue;
					color: #fff;
				}
			}
		}
		.col-xs-4 {
			margin-left: 25px;
		}
		
		#smsMessage {
			margin-top: 15px;
			.form-control {
				height: 390px;
			}
			/*.glyphicon-exclamation-sign {
				display: none;
				right: -20px;
				top: 40%;
			}*/
			textarea {
				resize: none;
			}
		}
		.validation-msg {
			font-size: 120%;
			float: left;
			margin-bottom: 15px;
		}
		.col-xs-4 {
			div.previewPicker {
				width: 260px;
				margin: 0;
				float: left;
				font-size: 120%;
				&.open {
					margin-left: 0;
					width: 100%;
					.btn {
						background: $pale-red;
						color: #fff;
					}
				}
				.btn {
					width: 100%;
					height: 35px;
					margin-left: 0;
					background: #fff;
					color: $pale-red;
					span {
						font-size: 120%;
						margin: 0;
						width: auto;
						&.glyphicon-chevron-down{
							float: right;
						}
					}
				}
				.dropdown-menu.open {
					margin-left: 0;
				}
			}
		}
	}
}
.previewMsg {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	width: 90%;
	height: 390px;
	background: #e1e1e1;
	margin-top: 50px;
	right: 14px;
	.msgItem {
		.msgTitle {
			float: left;
			margin: 30px 15px 0;
			font-size: 140%;
		}
		.mainMsg {
			position: absolute;
			line-height: 18px;
			padding: 12px 20px;
			font-size: 120%;
			margin-top: -138px;
			word-wrap: break-word;
			word-break: break-all;
		}
		img {
			width: 90%;
			margin: 20px auto;
		}
	}
}
//for the weekview of calendar
.week-view{
	max-width: 500px;
	.arrow:after {
		border-bottom-color: #555 !important;
	}
	.popover-title {
		text-align: center;
		background: #555;
		color: #fff;
	}
	.popover-content {
		padding: 25px 5px;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			display: inline;
			padding: 5px 10px;
			border-radius: 5px;
			color: $pale-red;
			&.selected-day{
				background: $pale-red;
				color: #fff;
			}
		}
	}
}
.bootstrap-timepicker-widget {
	.glyphicon-chevron-up,
	.glyphicon-chevron-down {
		color: $pale-red;
	}
}

//Custom Checkbox
.custom-checkbox {
	float: left;
	width: 25px;
	height: 25px;
	border: 1px solid $pale-red;
	border-radius: 5px;
	cursor: pointer;
	
	&.checked {
		background: #e13b4c;
		
		> span {
			padding-right: 2px;
			line-height: 20px;
			text-align: center;
			width: 100%;
			font: {
				size: 150%;
			}
			color: #fff;
		}
	}
}

.form-control[readonly] {
	background: #fff;
}

//Custom Scrollbar Y(Vertical)
.custom-scrollbar-y {
	&::-webkit-scrollbar {
		width: 12px;
	}
	 
	/* Track */
	&::-webkit-scrollbar-track {
		-webkit-box-shadow:inset 6px 0px 30px #5e5e5e;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #fff; 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(255,0,0,0.4); 
	}
}

//Wrapper for multiple-options
.multiple-options-wrapper {
	height: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #e1e1e1;
	overflow-y: auto;
	overflow-x: hidden;
	
	&::-webkit-scrollbar-thumb {
		background: #666; 
	}
}

//For all button that are color pale-red
.btn-pale-red {
	background: $pale-red; 
	color: #fff;
	&:focus,
	&:hover {
		background: $pale-red; 
		color: #fff;
		outline: 0;
	}
}

//For all button that are color pale-blue
.btn-pale-blue {
	background: $pale-blue; 
	color: #fff;
	&:focus,
	&:hover {
		background: $pale-blue; 
		color: #fff;
		outline: 0;
	}
}

//upload excel error
#uploadFileReq {
	color: $error-red-bg;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	
	> span {
			font-size: 270%;
	}
	
	.exclamation-error {
		font-size: 120%;
	}
}

//Applicable for the class container to force its width into 100%
.width-100-percent{
	width: 100%;
}

//input close icon
.input-close-icon {
	position: absolute;
	right: 10px;
	line-height: 33px;
	font-size: 150%;
	cursor: pointer;
	color: $pale-blue;
}

//Error message @ the top pages
.errormsg-up {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	background: #ffd9de;
	color: #986066;
	text-align: center;
	font-size: 140%;
	padding: 10px;
	display: none;
}

//sprites
.sprites {
	background: transparent url(../img/sprites.png);
}
.sprites-holder {
	position: relative
}

.addShadow {
	box-shadow: 0px 2px 10px #bfbfbf ;
}

//rounder corners
.top-left {
	top: 0;
	left: 0;
}
.top-right {
	top: 0;
	right: 0;
}
.bottom-left {
	bottom: 0;
	left: 0;
}
.bottom-right {
	bottom: 0;
	right: 0;
}
.rounded-corner {
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
	position: absolute;
	
	//light-gray
	&.top-right-light-gray {
		@extend .top-right;
		background-position: -41px -400px;
	}
	
	&.top-left-light-gray {
		@extend .top-left;
		background-position: -28px -400px;
	}
	
	&.bottom-left-light-gray {
		@extend .bottom-left;
		background-position: -28px -412px;
	}
	
	&.bottom-right-light-gray {
		@extend .bottom-right;
		background-position: -41px -412px;
	}
	
	//white
	&.top-right-white {
		@extend .top-right;
		background-position: -14px -400px;
	}
	
	&.top-left-white {
		@extend .top-left;
		background-position: -1px -400px;
	}
	
	&.bottom-left-white {
		@extend .bottom-left;
		background-position: -1px -412px;
	}
	
	&.bottom-right-white {
		@extend .bottom-right;
		background-position: -14px -412px;
	}
	
	//dark-gray
	&.top-right-dark-gray {
		@extend .top-right;
		background-position: -55px -400px;
	}
	
	&.top-left-dark-gray {
		@extend .top-left;
		background-position: -68px -400px;
	}
	
	&.bottom-left-dark-gray {
		@extend .bottom-left;
		background-position: -55px -412px;
	}
	
	&.bottom-right-dark-gray {
		@extend .bottom-right;
		background-position: -68px -412px;
	}
}
// for table sorter
span.arrow {
	width: 15px;
	height: 10px;
	float: right;
	margin-right: 8px;
	margin-top: 7px;
	position: absolute;
}
.tablesorter-headerAsc {
	span.arrow {
		background: url('../css/tablesorter/images/black-asc.gif') right center no-repeat;
	}
}
.tablesorter-headerDesc {
	span.arrow {
		background: url('../css/tablesorter/images/black-desc.gif') right center no-repeat;
	}
}
.tablesorter-headerUnSorted {
	span.arrow {
		background: url('../css/tablesorter/images/black-unsorted.gif') right center no-repeat;	
	}	
}

.editLink {
	padding: 0;
	text-align: right;
	padding-right: 10px;
	.glyphicon-pencil {
		padding: 5px;
		border-radius: 7px;
		font-size: 140%;
	}
}

.btn, .dropdown-menu{
	font-size: 16px;
}

//circled question-sign
.circled-question-sign {
	width: 20px;
	height: 20px;
	background-position: -204px -339px;
	line-height: 40px;
	margin-top: 11px;
	
	&:hover {
		background-position: -204px -376px;
	}
}