#sent-page {
	#dateRange {
		float: left !important;
		margin-top: 0;
		input#dateRangePickerfrom{
				border-right: 0;
				border-radius: 5px 0 0 5px;
				-moz-border-radius: 5px 0 0 5px;
				-webkit-border-radius: 5px 0 0 5px;
		}
		input#dateRangePickerto{
			border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
		}
	}
	div.taskPicker {
		width: 160px;
	}
	#sentTable {
		width: 100%;
		float: left;
		padding: 0 30px;
		.recordsTableHeader {
			th {
				font-size: 140%;
				font-weight: normal;
				&.nosmssuccessfail {
					width: 175px;
				}
				&.taskname {
					width: 185px;
					padding-left: 30px;
				}
				#noSMSarrow {
					margin-left: 11px;
					margin-top: -3px;
				}
			}
			.detail-row {
				.sent-item {
					font-size: 120%;
				}
			}
		}
		.sentMainData {
			.sent-item {
				font-size: 140%;
				&.task-name {
					padding-left: 30px;
					width: 210px;
				}
				&.last-sent {
					width: 118px;
				}
			}
			.detail-row {
				height: 50px;
			}
		}
	}
}